:root {
    --primary-color:#ee4d2d;
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --border-color: #dbdbdb;
    --header-height : 120px;
    --navbar-height :28px;
    --header-with-logo-height : calc(var(--header-height) - var(--navbar-height));
    --star-gold-color : #FFCE3E;

}
* {
    box-sizing: inherit;
    
}
/* rem phu thuoc vo the html */
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Responsive */
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* TEST */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
/* ANIMATION */
@keyframes fadeIn
{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

@keyframes Growth
{
    from{
        transform: scale(var(--growth-from));

    }
    to{
        transform: scale(var(--growth-to));
    }
}

/* MODAL */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
}
.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0, 0, 0.4);
    animation: fadeIn linear 0.1s;
}
.modal__body{
    --growth-from : 0.7;
    --growth-to : 1;
    position: relative;
    z-index: 1;
    margin: auto;
    animation: Growth linear 0.1s ;
   
}
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    background-color: var(--white-color);
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0 8px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disabled{
    color: #ccc;
    cursor: default;
    background-color: #999;
}
.btn--size-s{
    height: 30px;
    font-size: 12px;
}
/* SELECTION */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input__label{
    font-size: 1.4rem;
}
.select-input-icon{
    font-size: 1.4rem;
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
}
.select-input__List{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 10px 16px;
    display: none;
}

.select-input__item-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 10px 0;
}
.select-input__item-link:hover{
    color: var(--primary-color);
}
.select-input:hover .select-input__List{
    display: block;
}