.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433 ,#f53e2d);

}
.header__navbar-list{
    list-style: none;
    margin: 10px 0 0 0;
    padding-left: 0;
}
.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon{
    display: inline-flex;
}
.header__navbar-item-link:hover,
.header__navbar-item:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
   
}
.header__navbar-item--bold{
    font-weight: 600;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #fb9086;
    height: 12px;
    top : 50%;
    right: -10px;
    transform: translateY(-50%);
}
.header_navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header_navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
}
.header__navbar-icon{
    font-size: 1.4rem;
    margin: 0 4px;
}
.header__navbar-icon--nopointer{
    cursor: text;
    color: var(--white-color);
}
/* HEADER QR CODE */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: -16px;
    left: 0;
    display: block;
}
.header__navbar--has-qr:hover .header__qr{
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}
.header__qr-download-img{
    height: 15px;
}
/* NOTIFICATION */
.header__navbar-item--has-notify{
    position: relative;
}
.header__navbar-item--has-notify:hover .header__notify
{
    display: block;
}
.header__notify{
    width: 404px;
    background-color: var(--white-color);
    position: absolute;
    top: 140%;
    right: 0;
    border: 1px #d3d3d3 solid;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    will-change: opacity , transform;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
}
.header__notify::before{
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -27px;
}
.header__notify::after{
    content: "";
    position: absolute;
    width: 84px;
    height: 12px;
    right: 0;
    top: -10px;
}
.header__notify-title{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-title h3{
    color:#999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;
    width: 100%;
   
}
.heder__notify-info{
    margin-left: 12px;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgb(238, 77, 45 , 0.08);
}
.hedder__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 4px;
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: #756f6e ;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
}
.header__notify-footer{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);

    }
}

/* authen modal */
.auth-form{
    width: 500px;
    background-color:var(--white-color);
    border-radius: 5px;
    overflow: hidden;

}
.auth-form__container{
    padding: 0 32px;
    /* padding-bottom: 8px; */

}
.auth-form__header{
    display: flex;
   align-items: center;
   justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
.auth-form__form{
    margin-top: 8px;

}

.auth-form__group{
    

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border : 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    font-weight: 540;
}
.auth-form__aside{

}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.btn-back{
    background-color: #fff;
}
.auth-form__socials{
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}
.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 24px;
}
.auth-form__socials--google{
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    color: #939393;
    font-size: 1.4rem;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -2px 16px 0 ;
}
.auth-form__help-fogot{
    color: var(--primary-color);

}


/* HEADER WITH SEARCH */
.header-with-search{
    height: var(--header-with-logo-height);
    display: flex;
    align-items: center;
    margin: 0 8px;

}
.header__Logo{
    width: 200px;

}
.header__logo-img{
    width: 150px;
}
.header__search{
    flex: 1;
    background-color: #fff;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    

}
.header__cart{
    width: 170px;
    text-align: center;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 4px;
}
.header__search-input{
   flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 5px;
}
.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    border: none;
    background-color: var(--primary-color);
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    cursor: pointer;
}
.header__search-btn:hover{
    background-color: #ec593c;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-option{
    list-style: none;
    position: absolute;
    right: 65px;
    top : 100%;
    width: 130px;
    padding: 0;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;

}
.header__search-option::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 14px;
    top: -8px;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px;
    text-align: right;
}
.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-select-has-option:hover .header__search-option{
    display: block;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
}

